/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Reset
@import "reset";

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";


// Styles

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
  font-family: verdana, Arial, sans-serif;
}

.content {
  max-width: 642px;
  margin: 0 auto;
}

// Navbar

.navbar {
  margin: 0;
}

.navbar-container {
  max-width: 642px;
  margin: 0 auto;
}

.navbar-brand {
  padding: 0;

  a {
    color: #125688;
    background: image-url("logo.svg") 0 0 no-repeat;
    background-size: contain;
    width: 160px;
    display: block;
    height: 30px;
    font-size: 0;
    color: transparent;
    margin: 11px 0 0 0;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;

  .navbar-nav li a {
    color: #125688;
  }
}

// Posts

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;

  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;

    .user-name,
    .time-ago {
      display: inline;
    }

    .user-name {
      font-weight: 500;
    }

    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }

  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.post-bottom {

  .user-name,
  .comment-content {
    display: inline;
  }

  .caption {
    padding: 20px;
  }

  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }

  .user-name,
  .caption-content {
    display: inline;
  }

  #comment {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 24px 24px 10px;
    font-size: 15px;
    line-height: 18px;

    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }

    .delete-comment {
      float: right;
      color: #515151;
    }
  }
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}

// Form: new & edit

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

// Signup & Login pages

.registration-bg {
  padding-top: 4em;
  min-height: 100vh;
  background-image: image-url('signup-bg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{

  h1 {
    text-align: center;
  }
}

.input {
  margin: 0 0 10px;

  input {
    width: 100%;
    border: 1px solid #ccc;
  }
}

#user_remember_me {
  display: inline;
  width: auto;
  margin: 0 15px 0 0;
}

// Footer

footer {
  margin: 30px 0;
  font-size: 12px;
  color: #bbb;

  > div {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}