<footer>
  <div class="content">
    Arachography is powered by Ruby on Rails, Heroku and Amazon S3
    <span style="float: right">
      Copyright <%= Date.today.year %>
    </span>
    <div style="margin: 5px 0;">
      <a href="mailto:katsampukas@gmail.com" style="color: currentColor; text-decoration: underline">Contact us</a>
    </div>
  </div>
</footer>